<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="icon" href="img/favicon.png" type="image/png" />
    <title>Medcare Medical</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/themify-icons.css" />
    <link rel="stylesheet" href="css/flaticon.css" />
    <link rel="stylesheet" href="vendors/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="vendors/owl-carousel/owl.carousel.min.css" />
    <link rel="stylesheet" href="vendors/animate-css/animate.css" />
    <!-- main css -->
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/responsive.css" />
  </head>
  <body>
    <!--================Header Menu Area =================-->
    <header class="header_area"><%- include('header.ejs') %></header>
    <!--================Header Menu Area =================-->
    <!--================ appointment Area Starts =================-->
    <section class="appointment-area">
      <div class="container">
        <div class="appointment-inner">
          <div class="row">
            <div class="col-sm-12 col-lg-5 offset-lg-1">
              <h3>Have Some Questions?</h3>
              <div class="accordion" id="accordionExample">
                <div class="card">
                  <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                      <button
                        class="btn btn-link"
                        type="button"
                        data-toggle="collapse"
                        data-target="#collapseOne"
                        aria-expanded="true"
                        aria-controls="collapseOne"
                      >
                        God male gathering them it female which green cattle?
                      </button>
                    </h5>
                  </div>

                  <div
                    id="collapseOne"
                    class="collapse show"
                    aria-labelledby="headingOne"
                    data-parent="#accordionExample"
                  >
                    <div class="card-body">
                      Great day without sixth a lesser beginning. Their thing
                      abundantly air moving saw fruitful lesser god. Sea
                      abundantly blessed life set. Land. Lights divided man in
                      deep in open upon.
                    </div>
                  </div>
                </div>

                <div class="card">
                  <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                      <button
                        class="btn btn-link collapsed"
                        type="button"
                        data-toggle="collapse"
                        data-target="#collapseTwo"
                        aria-expanded="false"
                        aria-controls="collapseTwo"
                      >
                        Moving creepeth moved upon man grass two days?
                      </button>
                    </h5>
                  </div>
                  <div
                    id="collapseTwo"
                    class="collapse"
                    aria-labelledby="headingTwo"
                    data-parent="#accordionExample"
                  >
                    <div class="card-body">
                      Great day without sixth a lesser beginning. Their thing
                      abundantly air moving saw fruitful lesser god. Sea
                      abundantly blessed life set. Land. Lights divided man in
                      deep in open upon.
                    </div>
                  </div>
                </div>

                <div class="card">
                  <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                      <button
                        class="btn btn-link collapsed"
                        type="button"
                        data-toggle="collapse"
                        data-target="#collapseThree"
                        aria-expanded="false"
                        aria-controls="collapseThree"
                      >
                        God male gathering them it female which green cattle?
                      </button>
                    </h5>
                  </div>
                  <div
                    id="collapseThree"
                    class="collapse"
                    aria-labelledby="headingThree"
                    data-parent="#accordionExample"
                  >
                    <div class="card-body">
                      Great day without sixth a lesser beginning. Their thing
                      abundantly air moving saw fruitful lesser god. Sea
                      abundantly blessed life set. Land. Lights divided man in
                      deep in open upon.
                    </div>
                  </div>
                </div>

                <div class="card">
                  <div class="card-header" id="headingFour">
                    <h5 class="mb-0">
                      <button
                        class="btn btn-link collapsed"
                        type="button"
                        data-toggle="collapse"
                        data-target="#collapseFour"
                        aria-expanded="false"
                        aria-controls="collapseFour"
                      >
                        Saw isn't likeness beginning yielding land days she?
                      </button>
                    </h5>
                  </div>
                  <div
                    id="collapseFour"
                    class="collapse"
                    aria-labelledby="headingFour"
                    data-parent="#accordionExample"
                  >
                    <div class="card-body">
                      Great day without sixth a lesser beginning. Their thing
                      abundantly air moving saw fruitful lesser god. Sea
                      abundantly blessed life set. Land. Lights divided man in
                      deep in open upon.
                    </div>
                  </div>
                </div>

                <div class="card">
                  <div class="card-header" id="headingFive">
                    <h5 class="mb-0">
                      <button
                        class="btn btn-link collapsed"
                        type="button"
                        data-toggle="collapse"
                        data-target="#collapseFive"
                        aria-expanded="false"
                        aria-controls="collapseFive"
                      >
                        Saw isn't likeness beginning yielding land days she?
                      </button>
                    </h5>
                  </div>
                  <div
                    id="collapseFive"
                    class="collapse"
                    aria-labelledby="headingFive"
                    data-parent="#accordionExample"
                  >
                    <div class="card-body">
                      Great day without sixth a lesser beginning. Their thing
                      abundantly air moving saw fruitful lesser god. Sea
                      abundantly blessed life set. Land. Lights divided man in
                      deep in open upon.
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-5">
              <div class="appointment-form">
                <h3>Make an Appointment</h3>
                <form action="/appointment?docemail=<%= docemail %>" method="POST">
                  <div class="form-group">
                    <label>Full Name</label>
                    <input
                      type="text"
                      name="fullname"
                      placeholder="Your Name"
                      required
                    />
                  </div>
                  <div class="form-group">
                    <label>Email</label>
                    <input
                      type="email"
                      name="email"
                      placeholder="Your Email"
                      required
                    />
                  </div>
                  <div class="form-group">
                    <label>Mobile</label>
                    <input
                      type="text"
                      name="mobile"
                      placeholder="Your Mobile No."
                      required
                    />
                  </div>
                  <div class="form-group">
                    <label>Doctor Email</label>
                    <input
                      type="email"
                      name="docemail"
                      value="<%= docemail %>"
                      readonly='readonly'
                      required
                    />
                  </div>
                  <div class="form-group">
                    <label>Message</label>
                    <textarea
                      name="message"
                      cols="20"
                      rows="7"
                      placeholder="Message"
                    ></textarea>
                  </div>
                  <input type="submit" name="make_appointment" value="Make an Appointment" class="main_btn">
                </form>
                <% if(locals.status && status == 'done'){ %>
                    <span style="background-color: rgb(207, 255, 134); color: green; border: 2px solid green;">Appointment booked successfully :)</span>
                <% } %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================ appointment Area End =================-->


    <!-- start footer Area -->
    <footer class="footer-area area-padding-top">
      <%- include('footer.ejs') %>
    </footer>
    <!-- End footer Area -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <script src="js/jquery-2.2.4.min.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/stellar.js"></script>
    <script src="vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="js/jquery.ajaxchimp.min.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/mail-script.js"></script>
    <script src="js/contact.js"></script>
    <script src="js/jquery.form.js"></script>
    <script src="js/jquery.validate.min.js"></script>
    <script src="js/mail-script.js"></script>
    <script src="js/theme.js"></script>
  </body>
</html>
